

.container{
	padding: 10px 30px 30px 30px;
}
	.container .title{
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.container .input-group{
		margin-bottom: 10px;
	}
	.input-group .addon-glyphicon{/*修改一下top值*/
		top: 0;
	}
	.container .btn-primary{
		background-color: #ef5518;
		border-color: #F47E50;
	}
	.loginBtn{
		margin-top: 30px;
	}

	.thelabel{
		float: left;
		font-size: 14px;
		font-weight: 400;
		height: 34px;
		line-height: 34px;
		margin-right: 11px;
	}
	.btn .radio .control-label {
	   padding-left:0;
	}
	.btn-group .btn  input[type="radio"]{
	 // clip: auto;
	}
	.input-group-addon{
	  height:34px;
	}
	.thecheckbox{
		margin-top: 10px;
		margin-bottom: 20px;
		position: relative;
	}
	
	.thecheckbox input[type="checkbox"]{
	  margin-top:2px;
	  margin-right:5px;
	}
		.thecheckbox span{
			color: red;
			font-weight: bold;
		}
		.agreeYesOrNo{
			position: absolute;
			top: -2px;
			left: 0;
		}