@charset "utf-8";

/*样式重置,根据自己的网站量身订做,有就加,没有就不用加上去*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin:0;padding:0;}
em{font-style:normal;}
ul, ol {
  margin-top: 0;
  margin-bottom: 0px;
}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;vertical-align:top;}/*将img放到a中会有border,给它去掉,同时对齐*/
table{border-collapse:collapse;
	  font-size: inherit; font: 100%;
	  border: 0 none;
      padding: 0;
      vertical-align: baseline;}/*表格之间有间隙,合并掉*/
input,textarea{outline:none;}/*在chrome下如果选中的时候,会自动有个高亮的动作,将其去掉*/
textarea{resize:none;overflow:auto;}
body{font-size:12px;font-family:"微软雅黑";}/*具体看自己的网站是怎么要求的*/

body{
	font-family: '微软雅黑','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;	/* zhb add 2015-7-17 16:20:34 */
	focus-ring-color: rgba(0, 0, 0, 0);  
	-webkit-tap-highlight-color: rgba(0,0,0,0);  
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color: rgba(0,0,0,0);  
	-moz-focus-ring-color: rgba(0, 0, 0, 0);
}


.clear{
	zoom:1;
}
.clear:after{
	display: block;
	content: ' ';
	clear:both;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

.hid{
	display: none;
}

.redBorder{
	border-color: rgba(255,0,0,0.58);
}
.errInfo{
	color: red;
	font-size: 12px;
	margin-bottom: 4px;
}
.copyright{
	height: 30px;
	background: #ff7518;
	color:#fff;
}

.header{
	height: 48px;
	background: #141414;
	color: #ffffff;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	position: relative;
}
	.header img{
		vertical-align: top;
	}
	.hleft{
		position: absolute;
		top: 0;
		left: 10px;
		cursor: pointer;
	}
	.hright{
		position: absolute;
		top: 0;
		right: 10px;
		cursor: pointer;
	}
	.hright2{
		position: absolute;
		top: 0;
		right: 44px;
		cursor: pointer;
	}
	
/* zhb add 2015-7-17 16:14:23 */
table {
    border-collapse: collapse;
}	


.color_ff842e{
	color: #ff842e;
}
.color_green{
	color: green;
}
.color_red{
	color: red;
}
.bold{
	font-weight: bold;
}
.noborderbottom{
	border-bottom: none !important;
}
.marginleftright20{
	margin: 0 20px;
}
.marginleft10{
	margin-left: 10px;
}
.marginright10{
	margin-right: 10px;
}
.margintop10{
	margin-top: 10px;
}
.width70bi{
	width: 70%;
}
.width60bi{
	width: 60%;
}

/*zhb add 2015-7-17 11:01:42 end*/