
.container{
	margin-bottom: 60px;
}
.touziUl{

}
	.touziUl img{
		width: 64px;
		height: 64px;
		border-radius: 50%;
		position: absolute;
		top: 14px;
		left: 20px;
	}
	.touziUl li{
		position: relative;
		padding: 20px 20px 20px 100px;
		border-bottom: 10px solid #f2f2f2;
	}
	.touziUl li:last-child{
		border-bottom: none;
	}
	.userInfo .name{
		font-size: 14px;
		font-weight: bold;
		color: #000;
		margin-right: 20px;
	}
	.userInfo .weizhi{
		/* background: url(../img/weizhi.png) no-repeat; 
		padding-left: 16px;*/
		background-size:16px 16px;
	}
	.userInfo .introduce{
		/* font-size: 14px; */
		color: #777;
		line-height: 30px;
	}
	.ly{
		/* background: url(../img/weizhi.png) no-repeat;
		padding-left: 24px; */
		background-size:16px 16px;

		/* font-size: 14px; */
		color: #777;
		line-height: 20px;

		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
		.ly span{
			margin-right: 5px;
		}

	
		.btnsUl li{
			width: 25%;
		}
		
		#views-exposed-form-investors-page .views-exposed-form .views-exposed-widget{
		  float:left;
		  clear:both;
		}
		#views-exposed-form-investors-page .views-exposed-form .views-exposed-widget .form-type-bef-link{
		  float:left;
		  margin-left:10px;
		}
		#views-exposed-form-investors-page a.active {
		  background-color:#eed;
		}