.btnsUl li{
	width: 25%;
}
.userinfoself_div .img-responsive{
	display:inline;
}
.user_profile{
	float:left;
	padding-bottom:50px;
	margin:20px 0;
}
.group-description{
	clear:both;
}
.form-item-profile-gender{
	clear:both;
}
.form-item-profile-gender ul{
	clear:both;
}
.form-item-profile-gender li{
	float:left;
	margin-right:10px;
}
.container-inline-date .form-type-select{
	margin-right:10px;
}

.user_profile_preference	.form-group{
	  float:left;
	  clear:both;
}
.user_profile_preference	.form-group .form-group{
	  float:left;
	  clear:none;
	  
}
.user_profile_preference	.form-item-profile-preference .form-group label{
	  float:left;
	  clear:none;
	  margin:4px 10px;
}
.user_profile_preference	.form-group .form-group input{
	  float:left;
	  clear:none;
	  width:auto;
}
.form-group .checkbox,.form-group .radio{
	  float:left;
	  margin-top:0;
	  margin-left:20px;
}
.user_profile_demand {
	margin:20px 0;
	float:left;
}
.user_profile_demand .form-group{
	  float:left;
	  clear:both;
}
.user_profile_demand .field-type-addressfield{
	width:100%;
}
.user_profile_demand .field-type-addressfield .form-group{
	clear:none;
}
.user_profile_demand .field-type-addressfield .addressfield-container-inline{
	clear:both;
}