@CHARSET "UTF-8";
.person_row {
	background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #E5E6E6;
  box-shadow: 0px 3px 5px #D2D6DA;
  
  overflow: hidden;
padding: 0px;
min-height: 250px;
margin-bottom: 12px;
}