<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>项目列表页</title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/commonHeaderFooter.css">
<link rel="stylesheet" href="./css/itemList.css">
</head>
<body>
<div class="head" style="text-align:center"> <span style="color: #FFFFFF; font-size:15px;">找谁投</span> <span class="glyphicon glyphicon-cog config" aria-hidden="true"></span> <span class="glyphicon glyphicon-list itemList" aria-hidden="true"></span> <span class="glyphicon glyphicon-user userList" aria-hidden="true"></span> </div>
<div class="input-group queryInput hid">
  <input type="text" class="form-control submitNo" placeholder="请输入查询条件" aria-describedby="basic-addon2">
  <span class="input-group-btn">
  <button class="btn btn-default queryBtn" type="button">查询</button>
  </span> </div>
<!-- zhb 2015-6-27 -->
<DIV class=container>
  <UL class=itemListUl>
    <LI>
      <DIV class=upPart><IMG alt="" src="./img/2.jpg">
      	<div>
						<span class="name">北斗天使</span>
						<span class="weizhi"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>上海</span>
                        <span class="close warp" style="text-align:left">X</span>
                     
		</div>

        <DIV class="type item">电子商务 O2O</DIV>
        <DIV class="desc item">本项目涵盖北斗儿童手表，北斗学生证，北斗敬老卡，北斗健康手表等系列产品。</DIV>
      </DIV>



    </LI>
    <LI>
      <DIV class=upPart><IMG alt="" src="./img/x200_329">
        <div>
						<span class="name">可控式人工智能引擎 – 星云</span>
						<span class="weizhi"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>江苏</span>
                        <span class="close warp" style="text-align:left">X</span>
		</div>
        <DIV class="type item">人工智能</DIV>

        <DIV class="desc item">可控式人工智能引擎</DIV>
      </DIV>
      
    </LI>
     <LI>
      <DIV class=upPart><IMG alt="" src="./img/2.jpg">
      	<div>
						<span class="name">北斗天使</span>
						<span class="weizhi"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>上海</span>
                       <span class="close warp" style="text-align:left">X</span>
		</div>
						
        <DIV class="type item">电子商务 O2O</DIV>
        <DIV class="desc item">本项目涵盖北斗儿童手表，北斗学生证，北斗敬老卡，北斗健康手表等系列产品。</DIV>
      </DIV>



    </LI>
    <LI>
      <DIV class=upPart><IMG alt="" src="./img/x200_329">
        <div>
						<span class="name">可控式人工智能引擎 – 星云</span>
						<span class="weizhi"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>江苏</span>
                        <span class="close warp" style="text-align:left">X</span>
		</div>
        <DIV class="type item">人工智能</DIV>

        <DIV class="desc item">可控式人工智能引擎</DIV>
      </DIV>
      
    </LI>
  </UL>
</DIV>
<!-- zhb 2015-6-27 end-->
<ul class="btnsUl clear">
  <li>投资人</li>
  <li class="active">找谁投</li>
  <li>项目</li>
  <li>合伙人</li>
  <li>消息</li>
</ul>
<script src="./js/jquery-1.9.1.min.js"></script>
<script src="./js/itemList.js"></script>
</body>
</html>
